body {
    font-family: sans-serif;
}

h1{
    text-align: center;
    background-color: rgb(226, 43, 208);
}

h3{
    text-align: center;
    background-color: rgb(226, 43, 208);
}
a{
    text-decoration: none;
    background-color: rgb(226, 43, 208);
    color: aliceblue;
    padding: 10px;
}
